<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agridera Seeds and Agriculture Ltd</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css\styles.css">
  <link rel="stylesheet" href="css\responsive.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <header>
    <div class="headergridmenu">
      <a href="#"><img src="img/Logo.png" class="headerimage"></a>
      <div class="search">
        <input type="text" placeholder="Поиск" class="searchinput">
        <button class="searchbtn"><img src="img/Search.png"></button>
      </div>
      <div class="searchlinks">
        <a href="index.html">Главная</a>
        <a href="#">Профиль компании</a>
        <a href="tomatoall.html">Продукты</a>
        <a href="#">Услуги</a>
        <a href="#">R&D</a>
        <a href="cont.html">Контакты</a>
      </div>
      <input type="checkbox" id="menu-toggle" class="menu-checkbox">
      <label for="menu-toggle" class="menu-toggle">☰</label>
      
      <nav class="mobile-menu">
        <a href="index.html">Главная</a>
        <a href="#">Профиль компании</a>
        <a href="tomatoall.html">Продукты</a>
        <a href="#">Услуги</a>
        <a href="#">R&D</a>
        <a href="contactus.html">Контакты</a>
      </nav>
    </div>
  </header>

  <div id="app">
    <section class="wrapper">
      <div class="columnssection">
          <div class="columnswrapper">
              <div class="textbox">
                  <a href="tom.html" class="backlink">← Вернуться ко всем Подсолнухам</a>
                  <h1>{{ product.title }}</h1>
                  <h2>{{ product.short_text }}</h2>
  
                  <div class="highlightbox">
                      <img src="D:\praktika\img/TomatoIcon.png" class="highlighticon">
                      <p>Очень высокая урожайность и отличное качество плодов!</p>
                  </div>
  
                  <h3>Характеристики</h3>
                  <hr>
                  <p><b>Сопротивление</b></p>
                  <p>{{ product.desc }}</p>
  
                  <h3>Растение</h3>
                  <hr>
                  <ul>
                      <li v-for="item in product.plant">{{ item }}</li>
                  </ul>
                  
                  <h3>Fruit</h3>
                  <hr>
                  <ul>
                      <li v-for="item in product.fruit">{{ item }}</li>
                  </ul>
                  
              </div>
              <div class="imagebox">
                <img :src="product.image" :alt="product.title">
                <div class="addtocart">
                    <a href="#" @click.prevent="addToCart(product.id)" v-if="!btnVisible">
                        <img src="img/1.jpg">
                    </a>
                    <a href="cont.html" v-if="btnVisible">
                        <img src="img/1.jpg">
                    </a>
                </div>
            </div>
          </div>
      </div>
  </section>
  </div>
  
  <footer class="footermenu">
    <nav>
      <ul>
        <li><a href="https://steamcommunity.com/profiles/76561199026660670/">Профиль</a></li>
        <li><a href="#">Управление</a></li>
        <li><a href="tom.html">Продукты</a></li>
        <li><a href="#">R&D</a></li>
        <li><a href="#">Ссылки</a></li>
        <li><a href="#">Карта Сайта</a></li>
        <li><a href="cont.html">Контакты</a></li>
      </ul>
    </nav>
    <a href="#"><img src="img/in.png"></a>
      <a href="#"><img src="img/instogram.png"></a>
      <a href="https://www.youtube.com/@Sasha-bn3em"><img src="img/YouTube.png"></a>
      <a href="https://steamcommunity.com/profiles/76561199026660670/"><img src="img/Twitter.png"></a>
      <a href="https://www.faceit.com/ru/players/RaPiX_23"><img src="img/Facebook.png"></a>
    </div>
  </footer>

  <footer class="footer">
    <p>AGRIDERA SEEDS & AGRICULTURE LTD. В© 2020</p>
  </footer>
  <script src="js/main.js"></script>
</body>
</html>
